@model IEnumerable<SozialWeb.Models.ApplicationUser>

@{
    ViewBag.Title = "FriendsListView";
}

<h2>Your friends</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationOfUser)
        </th>
        <th>
            Message
        </th>
        <th>
            Remove friend
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("ProfileTestView", "Profile", new { id = item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationOfUser)
        </td>
        <td>
            @using (Html.BeginForm("SendMessage", "Message", new { reciverId = item.Id, returnurl = Request.Url.AbsoluteUri }))
            {
                @Html.TextBox("message");
                <input type="submit" value="Message">
            }
        </td>
        <td>
            @Html.ActionLink("Remove Friend", "RemoveFriend", new { user2 = item.Id }, new { returnurl = Request.Url.AbsoluteUri }) 
        </td>
    </tr>
}

</table>
