@using SozialWeb.Models
@model IEnumerable<SozialWeb.Models.Group>

    @{
        ViewBag.Title = "GroupsView";
    }
    <h2>Search for a group</h2>
    @using(Html.BeginForm("GroupsView", "Groups"))
    {
        @Html.TextBox("searchString");
        <input type="submit" value="Search">
    }

                      <table class="table">
                          <tr>
                              <th>
                                 Name
                                
                              </th>
                              <th>
                                  Description
                              </th>
                              <th>

                              </th>
                          </tr>

                          @foreach (var item in Model)
                          {
                              <tr>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.name)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.descriptionOfGroup)
                                  </td>
                                  <td>
                                      @Html.ActionLink("View group", "GroupProfile", "Groups", new { groupId = item.ID }, null) |
                                      @Html.ActionLink("Join Group", "JoinGroup", "Groups", new { groupId = item.ID }, null) |
                                      @Html.ActionLink("Leave Group", "LeaveGroup", "Groups", new { groupId = item.ID }, null) |
                                      
                                      
                                  </td>
                                  
                              </tr>
                          }

                      </table>

    @Html.AntiForgeryToken()
<h3>Your Groups</h3>
<table class="table">
    <tr>
        <th>
            Group Name<br />
        </th>
        <th>
            Description
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in ViewBag.Groups)
    {
        <tr>
            <td>
                <a href="@Url.Action("GroupProfile", "Groups", new { groupId = item.ID})">@item.name</a>
            </td>
            <td>
                @item.descriptionOfGroup
            </td>
            <td>
                
            </td>
        </tr>

    }

</table>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @using (Html.BeginForm("CreateNewGroup", "Groups"))
        {

            <fieldset>
                <h3>Create Group</h3>
                <div class="form-group">
                    <label for="" class="control-label">Name of the group:</label>
                    <br/>
                    @Html.TextBox("name")
                </div>

                <div class="form-group">
                    <label for="" class="control-label">Description:</label>
                    <br />
                    <textarea name="description" cols="60" rows="5" placeholder="Description.."></textarea>
                </div>

                <input type="submit" class="btn btn-primary" value="Create" />
            </fieldset>
        }
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
