@model SozialWeb.Models.Group

@{
    ViewBag.Title = "Profile";
}
<script src="~/Scripts/ajax.js" type="text/javascript"></script>
<h2>Profile</h2>

<div>
    <h4>Group</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Group Members<br />
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Members)
    {
        <tr>
            <td>
                @item.Name
            </td>
        </tr>

    }

</table>
<p>
    @Html.ActionLink("Back to List", "GroupsView", "Groups")
</p>


   @using (Html.BeginForm("AddPost", "Groups",new {groupId = Model.ID}))
{

    <fieldset>
        <legend></legend>
        <div class="form-group">
            <label for="" class="control-label">Text:</label>
            <br />
            <textarea name="text" cols="60" rows="5" placeholder="What's on your mind?"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" id="submitStatus" value="Senda inn" />
    </fieldset>
}

<div id="post-list">
    <hr />
    <h3>Athugasemdir <span class="badge">Model.count - todo</span></h3>
    <hr />

    @foreach (var item in ViewBag.Posts)
    {
        <blockquote>
            <p>@item.text</p>
            <footer>@item.author.Name - @item.timeOfPost.ToString("dd.MM.yyyy HH:mm")</footer>
        </blockquote>
    }
</div>
