@model SozialWeb.Models.Group

@{
    ViewBag.Title = "Profile";
}
<script src="~/Scripts/ajax.js" type="text/javascript"></script>
<h2>Group Profile</h2>

<div class="groupspage">
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        
        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionOfGroup)
        </dd>

    </dl>
    <hr />
    <table class="grouptable">
        <tr>
            <th>
                Group Members<br />
            </th>

        </tr>

        @foreach (var item in ViewBag.Members)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ProfileTestView", "Profile", new { id = item.Id})">@item.Name</a>   
                </td>
            </tr>

        }

    </table>

    <div class="groupPost">


        @using (Html.BeginForm("AddPost", "Groups", new { groupId = Model.ID }))
        {


            <div class="form-group">
                <label for="" class="control-label">Text:</label>
                <br />
                <textarea name="text" cols="60" rows="5" placeholder="What's on your mind?"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" id="submitStatus" value="Senda inn" />

        }

        <div id="post-list">
            <hr />
            <h3>Athugasemdir <span class="badge">Model.count - todo</span></h3>
            <hr />

            @foreach (var item in ViewBag.Posts)
            {
                <blockquote>
                    <p>@item.text</p>
                    <footer>@item.author.Name - @item.timeOfPost.ToString("dd.MM.yyyy HH:mm")</footer>
                </blockquote>
            }
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Back to List", "GroupsView", "Groups")
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    @using (Html.BeginForm("AddGroupPostImage", "Groups", new { groupId = Model.ID }))
    {


        <div class="form-group">
            <br />
            <text name="url" rows="5" cols="100" placeholder="What's on your mind?"></text>
            @Html.TextBox("url")
        </div>

        <input type="submit" class="btn btn-primary" id="submitStatus" value="Submit" />
    }

    @foreach (var image in ViewBag.Images)
    {
        <blockquote>
            <header><img src="@Url.Content(image.PicUrl)" width="300" height="300" alt="image" />  </header>
            <footer><i></i></footer>
        </blockquote>
    }
</div>