@model IEnumerable<SozialWeb.Models.ApplicationUser>

@{
    ViewBag.Title = "SearchView";
}

<h2>SearchView</h2>
@using(Html.BeginForm("SearchView", "Search"))
{
    @Html.TextBox("searchString");
    <input type="submit" value="Search">
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            <br />
            @Html.ActionLink("View profile", "ProfileTestView", "Profile", new { id = item.Id }, null)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("View profile", "ProfileTestView", "Profile", new {id = item.Id }, null) | 
            @Html.ActionLink("Send friend request", "SendFriendRequest", "Test", new { reciverId = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })  |
            @using (Html.BeginForm("SearchView", "Search"))
            {
                  @Html.TextBox("messageString");
            <input type="submit" value="Message">
            }
          
           
        </td>
    </tr>
}

</table>
