@model IEnumerable<SozialWeb.Models.ApplicationUser>

@{
    ViewBag.Title = "SearchView";
}

<h2>SearchView</h2>
@using(Html.BeginForm("SearchView", "Search"))
{
    @Html.TextBox("searchString");
    <input type="submit" value="Search">
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>

        <th> 
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            Send friend request
        </th>
        <th>
            Message
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td> <!-- Þetta mun birta link með nafni notenda á prófíl notanda-->
                <a href="@Url.Action("ProfileTestView", "Profile", new { id = item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Send friend request", "SendFriendRequest", "Test", new { reciverId = item.Id }, null)
            </td>
            <td>
                @using (Html.BeginForm("SendMessage", "Message", new { reciverId = item.Id }))
                {
                    @Html.TextBox("message");
                    <input type="submit" value="Message">
                }
            </td>  
        </tr>
    }

</table>
