@model SozialWeb.Models.ApplicationUser

@{
    ViewBag.Title = "ProfileTestView";
}


<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4><img src="@Url.Content(Model.PicLocation)" alt="image" /></h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            Location Of User
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationOfUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>

<!--
    <p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "FriendListView", "FriendList")
    </p>
-->
@using (Html.BeginForm("AddPost", "Profile", new { reciverId = Model.Id}))
{

    <fieldset>
        <legend></legend>
        <div class="form-group">
            <h3> Status </h3>
            <br />
            <textarea name="text" cols="60" rows="5" placeholder="What's on your mind?"></textarea>
        </div>

        <input type="submit" class="btn btn-primary" id="submitStatus" value="Submit" />

    </fieldset>
}

<div id="post-list">
    
    <h3>Users Feed</h3>

    @foreach (var post in ViewBag.Posts)
        
    {
        <blockquote>
            <header><img src="@Url.Content(post.author.PicLocation)" width="50" height="50" alt="image" />  @post.author.Name </header>
            <p><b>@post.text</b></p>
            <footer><i>@post.timeOfPost.ToString("dd.MM.yyyy HH:mm")</i></footer>
        </blockquote>
    }
</div>