@model SozialWeb.Models.ApplicationUser

@{
    ViewBag.Title = "ProfileTestView";
}

<script src="~/Scripts/ajax.js" type="text/javascript"></script>


<div class="profile_about">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4><img src="@Url.Content(Model.PicLocation)" alt="image" /></h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            Location Of User
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationOfUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    <div class="post">

        @using (Html.BeginForm("AddPost", "Profile", new { reciverId = Model.Id }))
        {


            <div class="form-group">
                <br />
                <textarea name="text" rows="5" cols="100" placeholder="What's on your mind?"></textarea>
            </div>

            <input type="submit" class="btn btn-primary" id="submitStatus" value="Submit" />


        }

        <div id="post-list">

            <h3>Users Feed</h3>

            @foreach (var post in ViewBag.Posts)
            {
                <blockquote>
                    <header><img src="@Url.Content(post.author.PicLocation)" width="50" height="50" alt="image" /> <a href="@Url.Action("ProfileTestView", "Profile", new { id = post.author.Id})"> @post.author.Name</a> </header>
                    <p><b>@post.text</b></p>
                    <footer><i>@post.timeOfPost.ToString("dd.MM.yyyy HH:mm")</i></footer>
                </blockquote>
            }
        </div>
    </div>
</div>

<!--
    <p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "FriendListView", "FriendList")
    </p>
-->
@using (Html.BeginForm("AddPostImage", "Profile", new { reciverId = Model.Id }))
{


    <div class="form-group">
        <br />
        <text name="url" rows="5" cols="100" placeholder="What's on your mind?"></text>
        @Html.TextBox("url")
    </div>

    <input type="submit" class="btn btn-primary" id="submitStatus" value="Submit" />
}

@foreach (var image in ViewBag.Images)
{
    <blockquote>
        <header><img src="@Url.Content(image.PicUrl)" width="50" height="50" alt="image" />  </header>
        <p><b>@image.PicUrl</b></p>
        <footer><i></i></footer>
    </blockquote>   
}