@model SozialWeb.Models.ApplicationUser

@{
    ViewBag.Title = "ProfileTestView";
}

<h2>ProfileTestView</h2>

<div>
    <h4>ApplicationUser</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>
        <dt>
           Hello
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(age => Model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
